.mobile-nav {
    padding: 20px 0px 20px 0px;

    ul {
        display: flex;
        overflow: auto;
        gap: 20px;
        padding: 0px 20px;

        li {
            list-style: none;

            a {
                display: flex;
                align-items: center;
                @include btn;
                background-color: $blue;
                padding: 10px 20px;
                font-weight: normal;

                i {
                    @include navI;
                }
            }
        }
    }
}

.desk-nav {
    position: fixed;
    padding: 40px 20px 20px 20px;
    background-color: $white;
    height: 100vh;
    width: 250px;
    border-radius: 0px 50px 50px 0px;

    .logo {
        height: 20px;
    }

    section:first-of-type {
        margin: 20px 0px;

        .user-img {
            display: flex;
            margin: auto;
            height: 70px;
            border-radius: 50%;
        }

        p {
            margin-top: 10px;
            @include font16;
            text-align: center;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            list-style: none;

            a {
                display: block;
                @include btn;
                @include font16;
                padding: 10px 20px;
                color: $black;
                font-weight: normal;
                @include trans4;

                &:hover {
                    @include navDesk;
                }

                i {
                    @include navI;
                }
            }
        }
    }

    section:last-of-type {
        button {
            position: absolute;
            bottom: 20px;
            left: 20px;
            @include btn;
            @include font16;
            display: flex;
            align-items: center;
            padding: 13px 23px;
            border-radius: 20px;
            font-family: 'Raleway', sans-serif;
            background-color: $black;
            @include trans4;

            &:hover {
                background-color: transparent;
                border: 1px solid $black;
                color: $black;
            }

            img {
                @include languageImg;
            }

            i {
                margin-left: 5px;
                font-size: 10px;
            }
        }

        ul {
            position: absolute;
            bottom: calc(30px + 56px);
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 13px 23px;
            border-radius: 20px;
            background-color: $black;
            color: $white;

            li {
                display: flex;
                align-items: center;
                padding: 10px;
                width: 156.61px;
                list-style: none;
                border-radius: 10px;
                background-color: lighten($black, 30%);
                color: $white;
                @include trans4;
                cursor: pointer;

                &:hover {
                   @include langSelec;
                }

                img {
                    @include languageImg;
                }
            }
        }
    }
}